---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../libs/newt";
import type { Post,RequiredImageType } from "../../libs/newt"
import Card from "../../components/organisms/Card";


const { items } = await newtClient.getContents<Post>({
    appUid : "blog" ,
    modelUid : "post",
    query : {
        select:['_id','title','content','image','location']
    }
})
console.log(items)
const handleClick = () => {}
---

<Layout title="Welcome to MyBlog.">
    <section class="">
        <ul class="grid grid-cols-2 md:grid-cols-3">
            {items.map((item)=>(
                <li>
                    <a href={`/blog/${item._id}/`}>
                        <Card {...item}/>
                    </a>
                </li>
            ))}
        </ul>
    </section>
</Layout>