---
import '@fontsource/dm-mono/400.css';

---

<section transition:animate="fade" class="md:grid grid-cols-2 gap-4 mt-10 md:mt-20">
  <picture class="">
    <img src="public/images/sea.webp" alt="p" class="h-60 w-60 rounded-full mx-auto" />
  </picture>
  <ul class="flex flex-col gap-4 font-bold text-lg m-auto font-sans mt-20">
    <li>name: Syou Yumura</li>
    <li>age: 23</li>
    <li>from: Kanagawa Chigasaki</li>
    <li>University: KwaseniGakuin</li>
  </ul>
</section>
