---
import { skills } from "../../libs/skills"
---

<section class="mt-20 md:mt-40">
    <ul class="grid gap-y-4 md:gap-y-10 grid-cols-3">
        {skills.map((item)=>(
            <li class="flex justify-center">
                <img 
                    class=""
                    src={item.images} 
                    alt="icon"
                />
            </li>
        ))}
    </ul>
</section>
