---
import Introduce from "../components/templates/Introduce.astro";
import SkillSet from "../components/templates/SkillSet.astro";
import Text from "../components/atoms/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Introduce />
    <SkillSet />
    <Text />
  </main>
</Layout>
