---

---

<section
  class="flex h-20 w-full justify-between rounded-md border-2 border-white bg-[#66A5AD] p-5 text-white shadow-xl"
>
  <h2 class="my-auto">旅行日記</h2>
  <div class="flex gap-1 my-auto">
    <p>トップ</p>
    <p>日記</p>
  </div>
</section>
