---

---

<section transition:animate="fade" class="md:grid grid-cols-2 gap-4 mt-10 md:mt-20">
  <picture class="">
    <img src="public/images/sea.webp" alt="p" class="h-60 w-60 rounded-full" />
  </picture>
  <ul class="">
    <li>name: Syou Yumura</li>
    <li>age: 23</li>
    <li>from: Kanagawa Chigasaki</li>
    <li>University: KwaseniGakuin</li>
  </ul>
</section>
